body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card. - I CHANGED FROM VERDANA FONT FAMILY TO ARIAL FONT FAMILY
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #0096c7; /*I CHANGED FROM #ddebf8 to #0096c7 */
    color: #CAF0F8; /*I CHANGED FROM #2b2839 to #CAF0F8*/
    border-bottom: 12px solid #0077b6; /*I CHANGED FROM #d8cefe to #0077b6*/
    
    border-top: 6px solid #ADE8F4;
    border-right: 6px solid #ADE8F4;
    border-left: 6px solid #48CAE4;
    border-radius: 20px;
    
    text-shadow: 2px 2px blueviolet;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background-color: #03045e;
    text-shadow: 1px 1px white;
    color: white;
}

.avatar {
    border-radius: 15px;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/